$header-size: 3em;
$info-size: 2em;
$info-display: inline-block;
$header-background-color: purple;
$header-color: white;
$header-shadow: white 2px 2px 6px;
$row-padding: 1em 0;
$row-margin: 0;
$info-background-color: silver;